<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VAISHNAVI BALAJI COMPUTERS</title>
    <link rel="icon" href="/images/smallbanner.jpg">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Bootstrap Icons CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <!-- Navbar Toggler Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand ml-sm-5  p-2 m-1  d-sm-block" href="#">
                <h5 class="logo_head"> <span class="half_hed">VB</span> Computers</h5>
            </a>
    
            <!-- Contact Us and Cart Buttons -->
            <div class="d-flex ml-auto order-lg-2">
                <a href="/contactUs" class="btn btn-outline-light mr-2">Contact Us</a>
            </div>

            <!-- Navbar Links -->
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav mr-auto">
                    <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-link" href="#">Products</a>
                    <a class="nav-link" href="#ContactUs">ContactUs</a>
                    <a class="nav-link" href="#Location">Location</a>
                </div>
            </div>
        </div>
    </nav>


    <div class="container py-5 mt-2">
        <h1 class="text-center pt-5">PRODUCTS</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4 py-5">

            <div class="col mt-3">
                <div class="card">
                    <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcR8pm8UBasBb_nOb0XBDNltRQPJgnapXtktOLtW8UlmMUDsmES78mL9WgBolNV6Dr6JqzRUE3JQnbC95rWL4Gn1FZI2TtctNw" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">EPSON INK BOTTLES-003</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+919603143057"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>


            <div class="col mt-3">
                <div class="card">
                    <img src="https://5.imimg.com/data5/SELLER/Default/2021/7/MO/CD/OB/439114/epson-005-ink.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">EPSON INK BOTTLES-005</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+919603143057"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>
       

            <div class="col mt-3">
                <div class="card">
                    <img src="https://cdn3.evostore.io/productimages/vow_premium/l/ep60141.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">EPSON INK BOTTLES-774</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+919603143057"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>
            

            <div class="col mt-3">
                <div class="card">
                    <img src="https://static.epsonshop.co.in/media/catalog/product/cache/cdcc8b312a05b9ee926321ee87314749/y/e/yellow_ink_bottle_-_003.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">EPSON INK BOTTLES-003-YELLOW</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+919603143057"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>


            <div class="col mt-3">
                <div class="card">
                    <img src="https://static.epsonshop.co.in/media/catalog/product/cache/cdcc8b312a05b9ee926321ee87314749/m/a/magenta_ink_bottle_-_003_1_.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">EPSON INK BOTTLES-003-MEGENTA</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+919603143057"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>


            <div class="col mt-3">
                <div class="card">
                    <img src="https://iwhizzmall.com/wp-content/uploads/2021/05/003-CYAN.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">EPSON INK BOTTLES-003-CYAN</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+919603143057"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>


             <div class="col mt-3">
                <div class="card">
                    <img src="https://5.imimg.com/data5/SELLER/Default/2022/4/KS/SN/IM/108908883/canon-790-black-printer-ink-500x500.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">CANON INK BOTTLES-790</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+919603143057"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>


            <div class="col mt-3">
                <div class="card">
                    <img src="https://5.imimg.com/data5/NU/OF/MY-63349086/cpu-cabinet.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">CPU CABNETS</h3>
                        <p class="card-text">HP, DELL, FRONTECH, INTEX...etc companies are available with us. Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+919603143057"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>


            <div class="col mt-3">
                <div class="card">
                    <img src="https://m.media-amazon.com/images/I/71LvynVpzNL.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">COMPUTER MOTHER BOARDS</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+919603143057"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>



            <div class="col mt-3">
                <div class="card">
                    <img src="https://m.media-amazon.com/images/I/71pHnBCAqmL.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">KEY BOARD WIRED</h3>
                        <p class="card-text">Hp, Dell, Fingers, Zebronic...etc companies are available with us. Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+919603143057"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>



            <div class="col mt-3">
                <div class="card">
                    <img src="https://media-ik.croma.com/prod/https://media.croma.com/image/upload/v1697017829/Croma%20Assets/Computers%20Peripherals/Computer%20Accessories%20and%20Tablets%20Accessories/Images/273929_0_gryjv7.png?tr=w-600" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">WIRELESS KEYBOARD AND MOUSE CAMBO</h3>
                        <p class="card-text">Hp, Dell, Fingers, Zebronic...etc companies are available with us. Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+919603143057"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>


            <div class="col mt-3">
                <div class="card">
                    <img src="https://m.media-amazon.com/images/I/71LvynVpzNL.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">D-LINK-N300 ROUTERS</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                    
                        <a href="tel:+919603143057"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>


            <div class="col mt-3">
                <div class="card">
                    <img src="https://5.imimg.com/data5/SELLER/Default/2021/6/ST/CN/PT/4096110/laser-printer-toner-cartridge.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">PRINTER CARTRIDGES</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+919603143057"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>



            <div class="col mt-3">
                <div class="card">
                    <img src="https://images-cdn.ubuy.co.in/65b64982957e651ccd3f9ea4-65w-45w-ac-adapter-charger-for-dell.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">LAPTOP CHARGERS ALL MODEL COMPETABLE</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+919603143057"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>


            <div class="col mt-3">
                <div class="card">
                    <img src="https://m.media-amazon.com/images/I/71Wd2Bl2d4L.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">MOTHER BOARD FANS</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+919603143057"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>


            <div class="col mt-3">
                <div class="card">
                    <img src="https://m.media-amazon.com/images/I/31lCOSycljL.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">INTEL I3 3rd GEN PROCESSORES</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+919603143057"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>


            <div class="col mt-3">
                <div class="card">
                    <img src="https://5.imimg.com/data5/OM/DR/MF/SELLER-21446113/4gb-ddr3-desktop-ram.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">DDR-3 DESKTOP RAMS</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+919603143057"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>


            <div class="col mt-3">
                <div class="card">
                    <img src="https://5.imimg.com/data5/NW/UV/GJ/SELLER-24728783/18-5-inch-dell-led-monitor.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">18.5 LED MONEITERS</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+919603143057"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>


            <div class="col mt-3">
                <div class="card">
                    <img src="https://m.media-amazon.com/images/I/61GYTu1fpvL._AC_UF1000,1000_QL80_.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">COMPUTER SMPS 450W</h3>
                        <p class="card-text">Make a call to know the present price and to place order.</p>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        
                        <a href="tel:+919603143057"><button class="btn btn-primary"><i class="fa-solid fa-phone-volume"></i> Call Now</button></a>
                    </div>
                </div>
            </div>




        </div>
    </div>

<div class="whatsapp_float">
    <a href="https://wa.me/919603143057" target="_blank"><img src="/images/wt.png" class="whatsapp_float_btn" alt=""></a>
</div>



            <div class="col-12 " id="Location">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d789.9678566049819!2d83.35399477660289!3d18.57346250754886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3b9bae84a1c0e5%3A0xf1dba4a1a645e20!2sVb%20Computers!5e1!3m2!1sen!2sin!4v1712822172149!5m2!1sen!2sin" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>


    <div class="wcss pt-5 pb-5" id="ContactUs">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-7  order-md-2">
                    <div class="text-center d-flex flex-column justify-content-center">
                        <h3 class="hh">In case of any issue in any product please contact us</h3>

                    </div>
                    <div class="d-md-none text-center">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzKrV80HdRmXfDhqCpBPg-STuZqQ2LZJ3lhEqmtpIelQ&s" class="imge" alt="" />
                    </div>
                    <div class="col-12 text-center">
                        <a href="/contactUs"><button class="btn btn-outline-light" type="submit">CONTACT US</button></a>
                    </div>
                </div>
                <div class="col-12 col-md-5 d-none d-md-block">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzKrV80HdRmXfDhqCpBPg-STuZqQ2LZJ3lhEqmtpIelQ&s" class="imge" alt="" />
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery, Popper.js, Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- Custom JS -->
</body>

</html>
